input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

.btn-success {
  margin-right: 10px;
}

.form-buttons {
  margin-bottom: 10px;
}

.ingredients {
  margin-top: 5px;
  margin-bottom: 20px;
}

.ingredient-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
